.container a.active {
  background-color: #04AA6D;
  color: white;
}

.container .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .container a:not(:first-child) {display: none;}
  .container a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .container.responsive {position: relative;}
  .container.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .container.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}



@media screen and (max-width: 768px) {
  .container a:not(:first-child) {display: none;}
  .container a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .container a:not(:first-child) {display: none;}
  .container a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 480px), (max-width: 768px) {
  .container.responsive {position: relative;}
  .container.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .container.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
