/* @keyframes blink {
    0% {
        color: blue;
        transform: scale(0.8);
    }

    50% {
        color: pink;
        transform: scale(1);
    }

    100% {
        color: red;
        transform: scale(0.8);
    }
} */

h2 {
    /* animation: blink 1s infinite; */
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    
    color: #626a67;
}

h2:hover {
    color: #ff0000;
    transform: scale(0.9);
}

/* @media (max-width: 480px) {
    h2 {
        font-size: 20px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    h2 {
        font-size: 30px;
    }
}

@media (min-width: 769px) {
    h2 {
        font-size: 40px;
    }
} */


.container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    background: linear-gradient(to left, rgb(224, 254, 249), rgb(255, 238, 241));
    margin-top: 40px;

}

.thumbnail {
    margin-top: 30px;
    width: 30%;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-main {
    width: 100%;
    flex-shrink: 0;

    /* lay nguyen gia tri cua thuoc tinh width/height */
}

h3 {
    font-weight: 500;
    word-break: break-all;
    flex: 1;
    /* flex-grow: 1 tu dong gian ra deu cho vua voi khung */
}

button {
    background: linear-gradient(to left, rgb(0, 255, 187), pink);
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 35px;
    width: 150px;
    flex-shrink: 0;
    /* lay nguyen gia tri cua thuoc tinh width/height */
}
button:hover{
    border: none;
    cursor: pointer;
    margin-left: 20px;
    background: linear-gradient(to right, red, pink);
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    width: 150px;
}
@media screen and (max-width: 768px) {
    .thumbnail {
        width: calc(45% - 22px);
    }
}

@media screen and (max-width: 480px) {
    .thumbnail {
        width: 100%;
    }
}
@media screen and (max-width: 480px)and (max-width: 768px){
    .thumbnail {
        width: calc(45% - 22px);
    }
}
@media (max-width: 600px) {
    .thumbnail {
        width: 100%;
    }
}



* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}



h1 {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
    font-size: 32px;
    color: #626a67;
}

h1:hover {
    color: #ff0000;
    transform: scale(1.2);
}

.starts {
    text-align: center;
}

.thumbnail .name {
    text-align: center;
    color: #ff0000;
    font-weight: bold;
    margin-top: 21px;
}

.thumbnai .desc {
    text-align: center;
    color: #626a67;
}

.thumbnail .price {
    text-align: center;
    color: red;
    font-weight: bold;
}

.price-del {
    text-align: center;
}


footer {
    background-color: rgb(230, 171, 227);
    text-align: center;
    margin-top: 200px;
    color: #000;
    font-size: 20px;
    display: block;
}

.product button {
    border: 1px solid #ffa2ec;
    cursor: pointer;
    background: linear-gradient(to right, yellowgreen, pink);
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    width: 100%;
}

.product button:hover {
    border: 1px solid #ffa2ec;
    cursor: pointer;
    background: linear-gradient(to left, red, pink);
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    width: 100%;

}

marquee {
    color: red;
    width: 100%;
    font-size: 20px;
    display: flex;
    background-color: aqua;
    margin-bottom: 100px;
}

@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    header a {
        margin-right: 10px;
        font-size: 14px;
    }

    .container {
        flex-wrap: wrap;

    }

    .logo {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .search-box {
        margin-left: 0;
        width: 100%;
    }

    .search-box input[type="text"] {
        width: 70%;
    }

    .search-box button {
        width: 30%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    header {
        padding: 10px;
    }

    header a {
        margin-right: 10px;
        font-size: 14px;
    }

    .container {
        flex-wrap: wrap;

    }

    .logo {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .search-box {
        margin-left: 0;
        width: 100%;
    }

    .search-box input[type="text"] {
        width: 70%;
    }

    .search-box button {
        width: 30%;
    }
}

@media (max-width: 600px) {
    header {
        padding: 10px;
    }

    header a {
        margin-right: 10px;
        font-size: 14px;
    }

    .container {
        flex-wrap: wrap;

    }

    .logo {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .search-box {
        margin-left: 0;
        width: 100%;
    }

    .search-box input[type="text"] {
        width: 70%;
    }

    .search-box button {
        width: 30%;
    }
}