.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;

}

.thumbnail {
    margin-top: 30px;
    width: 30%;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-main {
    width: 100%;
    flex-shrink: 0;

    /* lay nguyen gia tri cua thuoc tinh width/height */
}

h3 {
    font-weight: 500;
    word-break: break-all;
    flex: 1;
    /* flex-grow: 1 tu dong gian ra deu cho vua voi khung */
}

button {
    background-color: #f2b705;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 35px;
    width: 150px;
    flex-shrink: 0;
    /* lay nguyen gia tri cua thuoc tinh width/height */

}

@media screen and (max-width: 768px) {
    .thumbnail {
        width: calc(48% - 22px);
    }
}

@media screen and (max-width: 480px) {
    .thumbnail {
        width: 100%;
    }
}


.flex-container {
    width: 1180px;
    margin: 0 auto;
}

.flex-container {
    margin-top: auto;
    padding: 0px auto;
    flex-basis: 100%;
}

.flex-container {
    width: 100%;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.menu {

    list-style: none;
    display: flex;
}

.menu .item {
    margin: 0px 25px;
}

.menu .item a {
    color: #000000;
    font-size: 20px;
    text-decoration: none;
    font-style: initial;
}

.menu .item a :hover {
    background-color: pink;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: end;
}

#search-input {
    padding: 5px;
    margin-right: 5px;
}

#search-button1 {
    padding: 5px 10px;
    background-color: #007ACC;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 76px;
    margin-top: 10px;
    font-size: 32px;
    color: #626a67;
}

.starts {
    text-align: center;
}

.thumbnail .name {
    text-align: center;
    color: #ff0000;
    font-weight: bold;
    margin-top: 21px;
}

.thumbnai .desc {
    text-align: center;
    color: #626a67;
}

.thumbnail .price {
    text-align: center;
    color: red;
    font-weight: bold;
}

.price-del {
    text-align: center;
}

footer {
    background-color: rgb(230, 171, 227);
    text-align: center;
    margin-top: 50px;
    color: #000;
    font-size: 20px;
    display: block;
}

#footer {
    width: 100%;
    height: 322px;
    background: rgb(0, 0, 0, 0.79);
    padding: 0px 63px;
    padding-top: 57px;
    margin-top: 2250px;
    display: flex;

    justify-content: space-around;

}

#footer h3 {
    color: #ffffff;
}

#footer .box {
    width: 250px;
}

#footer .box .logo img {
    height: 75px;
    width: 45px;
}

#footer p {
    color: #ffffff;
    font-size: 20px;
}

#footer .box .quick-menu {
    margin-top: 20px;
}

#footer .box .quick-menu .item {
    margin-bottom: 12px;
}

#footer .box .quick-menu,
.item a {
    color: #fff;
    text-decoration: none;
}

#footer .box .quick-menu a:hover {
    background-color: #27b744;
}


#footer .box form input {
    width: 294px;
    height: 42px;
    background: transparent;
    padding-left: 20px;
    color: #fff;
    margin-top: 30px;
}

#footer .box form button {
    background: #362f2f;
    box-shadow: 5px 5px 4px;
    width: 163px;
    height: 38px;
    margin-top: 29px;
    color: #fff;
}

#footer .box form button:hover {
    background: orange;
}

#comment {
    width: 1012px;
    height: 478px;
    margin: 0px auto;
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
}

#comment h2 {
    text-align: center;
    font-size: 32px;
    color: #626a67;
}

.text1 {
    margin-top: 5px;
    margin-right: 10px;
    position: static;
    margin-bottom: 50px;
    width: 100%;
    /* Màu nền của chữ */
    color: #fff;
    /* Màu chữ */
    padding: 10px 50px;

}


#comment-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    width: 1000px;
    height: 650px;
    list-style: none;
    overflow: hidden;

}

#list-comment {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    height: 132%;
    border-radius: 30px;
    margin-top: 100px;
    padding-top: 50px;
    list-style: none;
    transition: 0.5s;
}

#list-comment .item {
    padding-top: 45px;
    border-radius: 30px;
    height: 545px;
    margin-top: 50px;
    background-color: #3e413e;
    padding-bottom: 1px;
}

#list-comment .item .name {
    font-weight: bold;
    color: #fff;
    margin-left: 15px;
    text-align: center;
    margin-top: 15px;
}

#list-comment .item .avatar img {

    width: 170px;
    height: 170px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 0px 10px;
    margin-top: -15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#list-comment .item .starts img {
    white-space: nowrap;
    /* Ngăn các hình ảnh xuống dòng */
    margin-right: 10px;
    /* Khoảng cách giữa các hình ảnh */
    width: 20px;
    margin: 0px auto;

    display: inline-block;
}